* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.todo {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #123123;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #123123;
}

.todo__box {
  margin: 0 auto;
  border: 5px double #215a41;
  padding: 50px 50px 70px;
  border-radius: 10px;
  width: 720px;
  min-height: 720px;
  text-align: center;
  background-color: #fcffd5;
}

.todo__title {
  margin-bottom: 70px;
  border: 2px dotted #123123;
  border-left: none;
  border-right: none;
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: 46px;
  line-height: 1;
  letter-spacing: 0.03em;
}

.todo__row {
  position: relative;
  margin-bottom: 40px;
  border-radius: 30px;
  border: 2px dotted #123123;
  padding: 7px 70px 7px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #feffe5;
}

.todo__input {
  outline: none;
  border: none;
  width: 100%;
  background-color: transparent;
  font-size: 18px;
}

.todo__btn,
.todo__remove-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  background-color: transparent;
}

.todo__btn {
  pointer-events: none;
  opacity: 0;
  transform: translateY(-48%);
  border-radius: 30px;
  border-color: transparent;
  padding: 6px 14px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  transition: background-color 0.25s ease, opacity 0.4s ease;
}
.todo__btn:hover {
  background-color: #f6ff78;
}
.todo__btn.visible {
  pointer-events: all;
  opacity: 1;
}

.todo__list {
  list-style: none;
  text-align: left;
}

.todo__list-item {
  opacity: 0;
  cursor: pointer;
  position: relative;
  user-select: none;
  margin: 0 auto;
  padding: 0 40px 0 50px;
  width: 95%;
  font-weight: 500;
  font-size: 20px;
  transition: opacity 0.4s ease;
}
.todo__list-item:not(.todo__list-item:last-of-type) {
  margin-bottom: 15px;
}
.todo__list-item.visible {
  opacity: 1;
}
.todo__list-item:hover::before {
  background-color: #f6ff78;
}
.todo__list-item:hover.checked::before {
  outline: 2px solid #f6ff78;
}
.todo__list-item:hover.checked::after {
  color: #f6ff78;
}

.todo__list-item::before,
.todo__list-item.checked::before,
.todo__list-item.checked::after {
  transition: all 0.25s ease;
}
.todo__list-item::before,
.todo__list-item.checked::after {
  position: absolute;
  top: 50%;
}

.todo__list-item::before {
  content: '';
  left: 0;
  transform: translateY(-42%);
  border-radius: 50%;
  border: 1px solid #123123;
  width: 22px;
  height: 22px;
}

.todo__list-item.checked {
  color: #aaa;
  text-decoration: line-through;
}
.todo__list-item.checked:hover {
  text-decoration: none;
}

.todo__list-item.checked::before {
  border-style: solid;
  background-color: #123123;
}

.todo__list-item.checked::after {
  content: '\2714';
  transform: translateY(-43%);
  left: 5px;
  color: #fcffd5;
}

.todo__remove-btn {
  z-index: 5;
  border: none;
  transform: translateY(-40%);
  border-radius: 50%;
}
.todo__remove-btn svg path {
  transition: all 0.25s ease;
}
.todo__remove-btn:hover svg path {
  fill: #63001c;
  stroke: #aaa;
}
